[run]
branch = True
source = morphocut

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    setup.py
    versioneer.py
    src/morphocut/_version.py