__pycache__
morphocut.egg-info
.vscode
*.pyc
.mypy_cache
docs/_build
build
dist
htmlcov
.coverage
.ipynb_checkpoints
.tox/
pip-wheel-metadata/
docs/inventory/
*.code-workspace
.coverage.*
.venv/
coverage.xml
